@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 5, 10, 15;
  --primary-color: #10b981;
  --primary-hover: #059669;
  --secondary-color: #0f766e;
  --accent-color: #a3e635;
  --dark-bg: #111827;
  --darker-bg: #0f172a;
  --card-bg: #1e293b;
  --success-color: #22c55e;
  --error-color: #ef4444;
  --text-light: #f3f4f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
